<form>
    <div class="form-group">
        <canvas id="token-preview" width="500" height="500" style="display: none;"></canvas>
        <canvas id="token-display" width="500" height="500"></canvas>
    </div>
    <div class="form-group">
        <label>Border Style</label>
        <select name="border">
            <option value="Smooth_Brass.png">Smooth Brass</option>
            <option value="Smooth_Silver.png">Smooth Silver</option>
            <option value="Smooth_Purple Haze.png">Smooth Purple Haze</option>
            <option value="Smooth_Modern, Dark Gray.png">Smooth Modern, Dark Gray</option>
            <option value="Smooth_Blood Red.png">Smooth Blood Red</option>
            <option value="Smooth_Beige.png">Smooth Beige</option>
            <option value="Smooth_Stucco.png">Smooth Stucco</option>
            <option value="Runes_White and Red.png">Runes White and Red</option>
            <option value="Runes_Black and Light Blue.png">Runes Black and Light Blue</option>
            <option value="Runes_Black and Dark Blue.png">Runes Black and Dark Blue</option>
            <option value="Gear_Black.png">Gear Black</option>
            <option value="Decorated_Picture Frame, Silver.png">Decorated Picture Frame, Silver</option>
            <option value="Decorated_Picture Frame, Gold.png">Decorated Picture Frame, Gold</option>
            <option value="Decorated_Picture Frame, Fancy, Gold.png">Decorated Picture Frame, Fancy, Gold</option>
            <option value="Decorated_Ouroboros.png">Decorated Ouroboros</option>
            <option value="Decorated_Leaves, Large.png">Decorated Leaves, Large</option>
            <option value="Decorated_Infinite Dragon.png">Decorated Infinite Dragon</option>
            <option value="Decorated_Infinite Dragon, Lava.png">Decorated Infinite Dragon, Lava</option>
            <option value="Chains_Blue Enchanted.png">Chains Blue Enchanted</option>
            <option value="Bottlecap_Silver.png">Bottlecap Silver</option>
        </select>
    </div>
    <footer class="sheet-footer flexrow">
        <button type="submit" name="submit">
            <i class="fas fa-check"></i> Create Token
        </button>
        <button type="button" name="cancel">
            <i class="fas fa-times"></i> Cancel
        </button>
    </footer>
</form> 